<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>JourPlan</title>
    <link rel="stylesheet" type="text/css" href="css/plan.css" />
</head>
<body>
    
        <!-- -----------------------  HEADER START  ----------------------- -->
        <header >
            <div class="header-div">
                <div class="header-logo">
                    <a href="./main.html">
                        <h1>JourPlan</h1>
                    </a>
                </div>

                <div class="header-search">
                    <input type="text" class="form-control form-header-search">
                </div>
                
                <div class="header-btn">
                    <div class="header-btn-div">
                        <a href="./planList.html">
                            <img class="header-btn-plan" src="./image/btn/ariplanblack.png">
                        </a>
                    </div>
                    <div class="header-btn-div">
                        <a href="./planReg.html">
                            <img class="header-btn-add" src="./image/btn/add2black.png">
                        </a>
                    </div>
                    <div class="header-btn-div">
                        <a href="#">
                            <img class="header-btn-notice" src="./image/btn/noticeblack.png">
                        </a>
                    </div>
                    <div class="header-btn-div">
                        <a href="#">
                               <img class="header-btn-setting" src="./image/btn/settingblack.png">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-------------------------  HEADER END  ----------------------- -->

        <!-------------------------  CONTENT START  ----------------------- -->
        <section >
            <article>
                <!-------   PLAN 기본정보  ----- -->
                <div class="plan-base">
                    
                </div>
                <!-------  PLAN 지도  ----- -->
                <div class="plan-map">
                    
                </div>
                <!-------  PLAN 일정  ----- -->
                <div class="plan-sche">
                    
                </div>
                <!-------  PLAN 버튼영역  ----- -->
                <div class="plan-btn">
                    
                </div>
            </article>
        </section>

</body>
</html>